%b
You have enrolled to the course
= link_to @enrollment.course, @enrollment.course
.row
%b
Enrollment date:
= @enrollment.created_at
.row
%b
Enrollment ID: 
= @enrollment.slug
.row
%b
Course price:
= @enrollment.course.price
.row
%b
Price paid:
= @enrollment.price
.row
%b
After completing the course, you will be entitled to a Certificate of Completion.
.row
%b
Regards, 
.row
= link_to 'The GoTuts team', root_url