%br 
%footer.footer.bg-dark.text-white
  .container-fluid
    %br
    .row
      .col-md-4
        = link_to "Blog", "https://blog.corsego.com", target: :_blank
        .row
        = link_to 'Teach on GoTuts', new_course_path, class: "#{'active font-weight-bold' if current_page?(new_course_path)}"
        .row
        = link_to 'About us', about_path
        .row
        GoTuts for business
        .row
      .col-md-4
        = link_to 'Privacy policy', privacy_policy_path
        .row
        Terms and conditions
        .row
        Careers
        .row
        Help and Support
      .col-md-4
        .row
        .fa.fa-envelope
        = mail_to 'support@gotuts-crisman.herokuapp.com'
    %br