%br 
%footer.footer.bg-dark.text-white
  .container-fluid
    %br
    .row
      .col-md-4
        = link_to "https://blog.corsego.com", target: :_blank do
          Blog
          .fa.fa-external-link-alt
        .row
        = link_to "https://saas.corsego.com", target: :_blank do
          SaaS boilerplate
          .fa.fa-external-link-alt
        .row
        = link_to 'Teach on GoTuts', new_course_path
      .col-md-4
        = link_to 'About', about_path
        .row
        = link_to 'Privacy', privacy_path
        .row
        = link_to 'Terms', terms_path
      .col-md-4
        .row
        .fa.fa-envelope
        = mail_to 'hello@gotuts-crisman.herokuapp.com'
    %br